# Ignore data files for now, perhaps later they will be included in git-lfs?
*.h5
*.VEC
*.vec
*.csv
*.mat
*.hdr
*.ssl
*.pyc
*.wpr

# Ignore the decklog
Admiralty_decklog_Jun2012.txt

# Ignore these data for now
ct/
TTM_xIMU_Jun2012/
for_MHKDR/

private/

photos/
*#
.#*

.DS_store

tmp/

Thumbs.db
